#level-1 {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

#level-2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

/*This works too but long ---> section[id="level-2"] > p[class="peas"] { */
#level-2 > .peas {
  grid-column: 1/3; /* Same as "grid-colum-start: 1; grid-column-end:3*/
}

#level-3 {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

#level-3 > .onions {
  grid-column: 2/4; /* Same as "grid-colum-start: 2; grid-column-end:4*/
}

#level-3 > .tomatoes {
  grid-column: 1/3; /* Same as "grid-colum-start: 1; grid-column-end:3*/
}

#level-3 > .carrots {
  grid-column: 1/4; /* Same as "grid-colum-start: 1; grid-column-end:4*/
}

#level-4 {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

#level-4 > .peas {
  grid-column: 1/3; /* Same as "grid-colum-start: 1; grid-column-end:3*/
  grid-row-start: 1;
}

#level-4 > .onions {
  grid-column: 3/4; /* Same as "grid-colum-start: 3; grid-column-end:4*/
  grid-row: 1/3; /* Same as "grid-row-start: 1; grid-row-end:3*/
}

#level-4 > .carrots {
  grid-column: 4/5; /* Same as "grid-colum-start: 4; grid-column-end:5*/
  grid-row: 1/3; /* Same as "grid-row-start: 1; grid-row-end:3*/
}

#level-5 {
  display: grid;
  grid-template-columns: repeat(5, auto);
  /* grid-template-rows: repeat(3, auto); */
}

#level-5 > .carrots {
  grid-column: 1/2; /* Same as "grid-colum-start: 1; grid-column-end:2*/
  grid-row: 1/4; /* Same as "grid-row-start: 1; grid-row-end:4*/
}

#level-5 > .tomatoes {
  grid-column: 2/5; /* Same as "grid-colum-start: 2; grid-column-end:5*/
  grid-row: 3/4; /* Same as "grid-row-start: 3; grid-row-end:4*/
}

#level-5 > .onions {
  grid-column: 3/4; /* Same as "grid-colum-start: 3; grid-column-end:4*/
  grid-row: 1/3; /* Same as "grid-colum-start: 1; grid-column-end:3*/
}

#level-5 > .peas {
  grid-column: 4/6; /* Same as "grid-colum-start: 4; grid-column-end:6*/
  grid-row: 2/3; /* Same as "grid-row-start: 2; grid-row-end:3*/
}

#level-5 > .lettuce {
  grid-column: 5/6; /* Same as "grid-colum-start: 5; grid-column-end:6*/
  grid-row: 1/2; /* Same as "grid-colum-start: 1; grid-column-end:2*/
}

#level-6 {
  display: grid;
  grid-template-columns: repeat(5, auto);
  /* grid-template-rows: repeat(4, auto); */
}

#level-6 > .carrots {
  grid-column: 1/6; /* Same as "grid-colum-start: 1; grid-column-end:6*/
  grid-row: 1/2; /* Same as "grid-row-start: 1; grid-row-end:2*/
}

#level-6 > .onions {
  grid-column: 1/2; /* Same as "grid-colum-start: 1; grid-column-end:2*/
  grid-row: 2/4; /* Same as "grid-row-start: 1; grid-row-end:4*/
  height: 52px;
}

#level-6 > .peas {
  grid-column: 2/5; /* Same as "grid-colum-start: 2; grid-column-end:5*/
  grid-row: 2/4; /* Same as "grid-row-start: 2; grid-row-end:4*/
}

#level-6 > .tomatoes {
  grid-column: 5/6; /* Same as "grid-colum-start: 5; grid-column-end:6*/
  grid-row: 2/4; /* Same as "grid-row-start: 1; grid-row-end:4*/
}

#level-6 > .lettuce {
  grid-column: 1/6; /* Same as "grid-colum-start: 1; grid-column-end:6*/
  grid-row: 4/5; /* Same as "grid-row-start: 4; grid-row-end:5*/
}

#level-7 {
  display: grid;
  grid-template-columns: repeat(5, minmax(5ch, 1fr));
}

#level-8 {
  display: grid;
  grid-template-columns: repeat(auto-fit, 15ch);
  grid-auto-rows: 5ch;
}

#level-9 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  grid-auto-rows: 5rem;
}
